*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body, html{
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

section{
  height: 100vh;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #box{
    height: 300px;
    width: 300px;
    background-color: crimson;
  }

  button{
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 35px;

  }
}